<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266467311043-462mtf5qg5de37sapafrbvnces8mifam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266467311043-462mtf5qg5de37sapafrbvnces8mifam</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>266467311043-m0ui8i4pg3t1cq2fp3pbhkv5ptlgfkht.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKw1LJVOdkLoip5d9w34WsyKAjjHBg_fo</string>
	<key>GCM_SENDER_ID</key>
	<string>266467311043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magneticash</string>
	<key>PROJECT_ID</key>
	<string>magneticash-85117</string>
	<key>STORAGE_BUCKET</key>
	<string>magneticash-85117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266467311043:ios:873c05ee0b8d78c4ded176</string>
</dict>
</plist>